.pc-add-to-cart{
  margin-left: -15px;

  &__quantity {
    margin-left: 0;
  }

  /*Added to cart button*/
  .added_to_cart{
    color: var(--btn-default-color);
    background: var(--btn-default-bg);
    border-color: var(--btn-default-border);

    &:active,
    &:hover {
      color: var(--btn-default-hover-color);
      background: var(--btn-default-hover-bg);
      border-color: var(--btn-default-hover-border);
    }
  }

  .button{
    //line-height: 1;
    border-radius: 26px;
    padding: 10px 26px;
  }
}