.widget_price_filter {
  $handle-width: 8px;
  $handle-height: 20px;
  $handle-color: #000;

  $slider-height: 7px;
  $slider-color: var(--theme-main-bg-color);

  $range-bg-color: var(--theme-secondary-color);

  @media(min-width: $screen-sm-min){
    padding: 10px;
  }

  .clear {
    height: $handle-height;

    &:before {
      height: $slider-height;
      background: $slider-color;
      border: 1px solid var(--base-border-color);
      margin-top: -($slider-height/2);
    }

    .ui-slider-handle{
      width: $handle-width;
      height: $handle-height;
      background: $handle-color;
      border-radius: 0;
      &:last-of-type{
        margin-left: (-$handle-width);
      }
    }

    .ui-slider-range{
      margin-top: -($slider-height/2);
      height: $slider-height;
      background: $range-bg-color;
    }
  }

  //Price filter title
  .widget-sidebar__title{
    text-transform: none;
    font-size: 1rem;
    @media (min-width: $screen-sm-min){
      color: var(--theme-secondary-color);
    }
  }
}
