.attributes-table {
  margin-left: 25px;

  &__item{
    display: list-item;
    padding: 0;
    list-style-type: disc;
    color: #000;

    &:not(:first-child) {
          border: none;
      }
  }

  &__header{
    display: inline-block;
    padding-right: 0.5em;

    &::after{
      content: ':';
    }
  }

  &__value{
    display: inline-block;
  }

  @at-root .modal &{
    margin-top: 15px;
   }
}