.search-overlay{
  position: relative;

  &__btn{
    //@extend .btn;
    color: var(--header-icon-color);

    padding: 5px;

    @media(min-width: $screen-sm-min){
      padding: 10px;
    }

    &:active,
    &:hover {
      color: #fff;
      background-color: var(--header-icon-color);
    }
  }

  &__icon{
    position: relative;
    display: block;
    height: 1.2714285714rem;
    width: 1.2714285714rem;
    color: inherit;
  }


  &__overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $page-ovarlay-z-index;
    background-color: $page-overlay-color;
  }

  &__search{
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;
    max-width: rem(400);
    z-index: $page-ovarlay-z-index + 1;

    @media(min-width: $screen-sm-min){
      width: 50vw;
    }
  }
}