.table-nav{
  position: static;
  // border-top: 1px solid var(--header-border-bottom-color);
  // border-bottom: 1px solid var(--header-border-bottom-color);

  &__items{
    width: auto;
    height: 40px;
    margin: 0 auto;
  }

  &__item{
    position: static;
    border: none;
    &.current-menu-item, &.is-active{
      .table-nav__link{
        background: transparent;
        &:after{
          transform: rotate(-25deg);
          width: 28px;
          background-color: $accent;
        }
        &:before{
          transform: rotate(25deg);
          width: 27px;
          background-color: $accent;
        }
      }
    }
   
  }

  &__link{
    position: relative;
    padding: 32px 30px;
    font-weight: 700;
    text-transform: uppercase;
    &:after, &:before{
      padding: 0;
      position: absolute;
      content: '';
      width: 25px;
      height: 1px;
      background-color: #000;
      bottom: 25px;
      transition: all 0.5s ease;
      z-index: 2;
    }
    &:before{
      left: calc(50% - 25px);
      transform-origin: left;
    }
    &:after{
      right: calc(50% - 25px);
      transform-origin: right;
    }

    &:hover{
      &:after{
        transform: rotate(-25deg);
        width: 28px;
        background-color: $accent;
      }
      &:before{
        transform: rotate(25deg);
        width: 27px;
        background-color: $accent;
      }
    }
    
  }

  &__link-helper{
    font-size: .9rem;
  }

  &__drop{
    width: 100vw;
    left: 0!important;
  }
}