.cols-nav {
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 3px 4px var(--base-box-shadow-color);

  &__row {
    border: none;
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
    justify-content: center;
  }

  &__col{
    // max-width: 20%;
    // min-width: 20%;
    padding: 10px 30px;
    &:first-child{
      border-right: 1px solid #d6d6d6;
    }
  }

  &__link{
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 14px;
    &:hover{
      color: $accent;
      text-decoration: none;
    }
  }
}

.cols-subnav {


  &__item--level-1 > &__link {
    &:hover {
      color: var(--base-main-link-hover-color);
    }
  }
}