.brands-slider {
  $arrow-height: 3rem;
  $arrow-height-sm: 2.25rem;
  padding: 0 0 20px;
  border-left: 0;
  border-right: 0;
  border-top: 0;

  &__header{
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;

    @media(min-width: $screen-sm-min){
      font-size: 1.5rem;
    }

    &::after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 1px;
      margin: auto;
      background: var(--base-border-color);
    }
  }

  &__tlink{
    position: relative;
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    background-color: var(--theme-main-bg-color);
    z-index: 2;

    &,
    &:hover{
      color: var(--theme-main-color);
    }
  }

  &__inner{
    position: relative;
    padding: 0 40px;
  }

  &__row {
    padding: 0;
    height: auto;
  }

  &__column {
    padding: 0 15px;
  }

  &__link {
    border: 0;
    padding-bottom: 50%;
    height: auto;
  }

  &__item {
    padding: 0;
  }

  &__arrow {

    width: $arrow-height-sm;
    height: $arrow-height-sm;
    border: 1px solid var(--base-border-color);
    color: var(--base-font-color);
    top: calc(50% - #{$arrow-height-sm/2});

    @media(min-width: $screen-sm-min){
      width: $arrow-height;
      height: $arrow-height;
      top: calc(50% - #{$arrow-height/2});
    }

    &:hover{
      background-color: var(--theme-main-color);
      color: #fff;
      border-color: var(--theme-main-color);
    }

    &>.svg-icon{
      height: 20px;
      width: 15px;
    }

    &--prev{
      left: -10px;
    }


    &--next {
      right: -10px;
    }
  }

}