.benefits {

  &__row {
    padding: 0;
  }

  &__inner{
    padding-left: 18px;
    padding-right: 18px;
  }

  &__ico {
    box-shadow: 0 0 25px 3px rgba(0,0,0, 0.1);
    width: 80px;
    height: 80px;
  }
}