.product-price{
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;

  .woocommerce-Price-amount{
    font-size: 24px;
    line-height: 1.3;
    vertical-align: middle;
  }
  del, ins{
    font-size: 0;
  }

  del .woocommerce-Price-amount{
    display: inline-block;
    font-size: 1rem;
  }

  &--lg .woocommerce-Price-amount{
    font-size: 1.8rem;
    color: $accent;
    margin-right: 15px;
  }

&--lg del .woocommerce-Price-amount{
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: $accent;
      transform: rotate(-20deg);
    }
  }

  //
  //del .woocommerce-Price-amount{
  //  vertical-align: middle;
  //}

  .woocommerce-Price-currencySymbol{
    font-size: inherit;
  }

  //.woocommerce-price-suffix {

  //}
  //&--lg .woocommerce-price-suffix{
  //}

}