.brand-sidebar{
  border: 0;

  &__photo{
    height: auto;
    text-align: center;
  }

  &__img{
    position: static;
    display: inline-block;
    max-height: 100%;
    padding: 30px 20px 20px;
    transform: none;
    top: auto;
    left: auto;
  }


  //&__photo {
  //  display: block;
  //  position: relative;
  //  width: 100%;
  //  height: $bradns-image-height;
  //}
  //
  //&__img {
  //  @include absolute-center-translate;
  //  display: block;
  //  max-height: $bradns-image-height;
  //  padding: 20px;
  //}
}