.brand-image{
  transition:  all 0.3s;
  &:hover{
    box-shadow: 0 5px 10px rgba(0,0, 0, .15);
  }

  &__photo{
    height: auto;
    padding-bottom: 50%;
  }

  &__title{
    background-color: transparent;
    border: 0;
    padding-top: 5px;
  }
}