.brand-link{
  font-size: 12px;
  color: #000;

  @at-root .product-cut &{
    margin-bottom: 10px;

    .link{
      text-transform: uppercase;
      color: var(--footer-link-color);

      &:active,
      &:hover{
        color: var(--base-main-link-color);
      }
    }
  }

  @at-root .pc-product-summary__header &{
    a{
      color: var(--base-font-color);

      &:hover{
        color: var(--base-main-link-color);
      }
    }
  }

  @at-root .modal .pc-product-summary__header &{
    font-size: 1rem;
  }

  //@at-root .cart-product &{
  //  font-weight: 700;
  //
  //  a{
  //    font-weight: 400;
  //    color: var(--base-font-color);
  //  }
  //}
}