.basement {
  font-size: 12px;

  &>.row--ib>*{
    font-size: 12px;
    margin-top: -10px;
  }

  a {
    text-decoration: none;
  }

  [class^="col-"]{
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}