.pc-category-products-layout {

  //Category slider
  &__metaslider{
    display: none;
    margin-bottom: 20px;

    @media(min-width: $screen-md-min){
      display: block;
    }
  }

  &__header-brand {
    margin-bottom: 60px;
    background-color: var(--panels-bg-color);
    padding: 10px 10px 10px 20px;
  }

  &__row{
    display: flex;
    margin: 0 -15px;

    @media(max-width: $screen-sm-max){
      flex-wrap: wrap;
    }

    &>*{
      flex-grow: 1;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__sidebar {
    //col-md-4
    @media(min-width: $screen-md-min){
      width: 33.3333333333%;
    }

    //col-lg-3
    @media(min-width: $screen-lg-min){
      width: 25%;
    }
  }

  &__body {
    //col-md-8
    @media(min-width: $screen-md-min){
      width: 66.6666666667%;
    }

    //col-lg-9
    @media(min-width: $screen-lg-min){
      width: 75%;
    }
  }

  &__desc{
    margin-top: 10px;
  }
}