.content {

  &__title{
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: $screen-md-max){
      font-size: 30px;
    }
    @media (max-width: $screen-xs-max){
      font-size: 24px;
    }
  }

  &__container {
    max-width: 100%;
    padding: 0 50px;
    @media (max-width: $screen-md-max){
      padding: 0 25px;
    }
    @media (max-width: $screen-xs-max){
      padding: 0 15px;
    }
    // @include site-container-adaptive;
  }

  &__header{
    /*Category header with tool bar*/

    &--category{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 0;
      margin-bottom: 1.42em;
      margin-left: auto;
      @media(min-width: 768px){
        width: 66.6666666667%;
      }
  
      //col-lg-9
      @media(min-width: $screen-lg-min){
        width: 75%;
      }
    }
  }

  &__sidebar{
    padding: 0;
    border: 0;

    &:not(:last-child){
      margin-bottom: 20px;
    }
  }


}