.error-page {

  &__page{
    padding-bottom: 0;
  }

  &__title{
    font-weight: 700;
    font-size: 23px;
  }

  &__row{
    text-align: center;
    margin-bottom: 20px;
  }

  &__button{
    padding: 10px 30px;
    border: 2px solid var(--base-border-color);
    background-color: var(--panels-bg-color);
    font-size: 18px;
    font-weight: 700;
    color: #000;

    &:hover,
    &:active{
      background-color: var(--base-border-color);
      border-color: var(--base-border-color);;
      color: #000;
    }

    &:active,
    &:focus{
      box-shadow: 1px 1px var(--form-conrols-box-shadow), 0 0 8px var(--form-conrols-box-shadow);
    }
  }

}