.page {

  @if $site-max-width != ''{
    &__container {
      max-width: 100%;
      padding: 0 50px;
      @media (max-width: $screen-md-max){
        padding: 0 25px;
      }
      @media (max-width: $screen-xs-max){
        padding: 0 15px;
      }
    }
  }

  &__container{
    // @include site-container-adaptive;


  }

  &__hgroup{
    border-bottom: 0;
  }

  &__main-banner{
    padding-top: 0;
  }

  &__breadcrumbs{
    padding: 20px 0 0;
    border-bottom: 0;
  }

  &__content{
    padding-bottom: 90px;
  }

  &__before-footer {
    margin-top: 70px;
  }

  &__footer{
    padding: 0;
    .page__container{
      padding: 0;
      max-width: 100%;
    }
  }
}