.start-page{

  &__container{
    max-width: $site-max-width;
    @include site-container-adaptive;
  }

  &__row{
    &:first-child{
      padding-top: 0;
    }

    &--lg{
      padding-top: 60px;
    }
  }
}