.start-page-glook{

  &__container{
    max-width: $site-max-width;
    margin: 0 auto;
    padding: 0 15px;
    @include site-container-adaptive;
  }

  &__row{
    padding-top: 60px;
  }

  &__widgets{
    margin: -15px -15px 0;
    font-size: 0;

    &>*{
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      font-size: 1rem;
    }

  }

  &__widgets-col{
    display: inline-block;
    width: 100%;
    vertical-align: top;

    @media(min-width: $screen-sm-min){
      width: 65%;
    }

    &:nth-child(2n){
      @media(min-width: $screen-sm-min){
        width: 35%;
      }

    }

    &:only-child{
      width: 100%;
    }
  }
}