.btn-load-more {
  border-color: var(--base-border-color);
  width: 100%;
  border: 1px solid #D6D6D6;
  border-radius: 30px;
  padding: 15px 10px;
  font-size: 16px;
  color: $accent;

  &,
  &:hover,
  &:active,
  &:focus {
    border-color: var(--base-border-color);
  }

  &__icon{
    width: 20px;
    height: 20px;
    color: $accent;
  }

  &__text-el {
    color: $accent;
    font-weight: normal;
  }
}