.product-labels {
  $product-label-bg-hit:          rgba(127,127,127,.8);
  $product-label-bg-hot:          rgba(127,127,127,.8);
  $product-label-bg-action:       rgba(222,86,72,.8);
  $product-label-size: 3.5em;

  &__item {
    width: $product-label-size;
    height: $product-label-size;
    font-size: 10px;
    border-radius: 50%;

    &--hit {
      background-color: $product-label-bg-hit;
    }
    &--hot {
      background-color: $product-label-bg-hot;
    }
    &--action {
      background-color: $product-label-bg-action;
    }
    &--discount {
      background-color: $product-label-bg-hit;
    }
  }
}