.pc-product-summary {

  .product_title.product_title{
    margin-top: 0.25em;
    padding-bottom: 5px;
  }

  &__body{
    margin-top: 0;
    border-top: none;
  }

  .product_title{
    @extend .content__title;
    display: block;
    padding-bottom: 28px;
    border-bottom: none;
  }

  .product-meta{
    padding-bottom: 13px;
    display: none;
  }

  &__footer{
    display: none;

    &>*{
      border: 0;
    }
  }

  //In quick view modal
  @at-root .modal &{
    border-top: 1px dashed var(--base-border-color);
  }

  @at-root .modal &__header{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;

    &>*{
      margin-top: 12px;
      padding-bottom: 12px;
    }


  }


}