.payments-radio {

  &--bg {
    background: transparent;
    padding: 0;
  }

  &__list-item{
    position: relative;
    padding: 10px;
  }

  &__title{
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    color: $title-color;
  }

  &__description{
    font-size: 12px;
  }

  &__control{
    input[type="radio"]{
      position: static;
      &:after{
        top: 14.5px;
        left: 13.5px;
      }
      &:before{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: '';
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
      }
    }
    input[type="radio"]:checked{
      &:before{
        opacity: 1;
        visibility: visible;
      }
    }
  }
}