.pc-product-quick-view {

  &__main {}

  &__before {

  }

  &__summary-wrapper {
    margin-bottom: 15px;
  }

  &__before-summary {
    @media(min-width: $screen-sm-min){
      width: 58.3333333333%;
    }

  }

  &__summary {
    @media(min-width: $screen-sm-min){
      width: 41.6666666667%;
    }
  }
}

/*Quick view button*/

.btn-product-quick-view {
  position: absolute;
  height: 36px;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6px 25px;
  border: 2px solid var(--base-border-color);
  z-index: 1000;
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  transition: all .3s;
  white-space: nowrap;

  &:hover {
    color: #000;
    background-color: rgba(0, 0, 0, .2);
  }

  &>.svg-icon{
    display: block;
  }
}
