.product-cut {



  &--no-overlay .btn-product-quick-view {
    display: none!important;
  }

  &--no-overlay::before { 
    display: none!important;
  }

  &:before{
    display: none;
  }

  @media (min-width: $screen-md-min) {
    &:hover {
      &::before {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
      }
    }
    &:hover &__before-title:before{
      opacity: 1;
    }
  }

  &__before-title{
    @media (min-width: $screen-md-min) {
      &:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: all 0.3s ease;
      }
    }
  }

  &__container{
  }

  &__action-row{
    position: absolute;
    top: 60%;
    right: 40px;
    .pc-product-action{
      margin: 0;

      .btn{
        background-color: transparent;
        border: 1px solid #D6D6D6;
        border-radius: 50%;
        padding: 8px 10px;
      }
    }
    div[data-add-to-compare]{
      display: none;
    }
  }

  &__title{
    .product-loop-title{
      text-align: left;
      font-size: 18px;
      line-height: 24px;
      a{
        color: $title-color;
      }
      @media (max-width: $screen-xs-max){
        font-size: 16px;
      }
      @media (max-width: $screen-xs){
        font-size: 14px;
      }
    }
  }

  &__after-title{
    padding-bottom: 0;
    text-align: left;
    .product-price{
    }
  }

  &__action-item {
    font-size: 0.9rem;
  }

  &__main-info{
    padding: 10px 10px 0;
  }

  &__extra-info {
    background: #fff;
    padding-bottom: 25px;
    left: 0;
    right: 0;
    box-shadow: none;
    display: block;
    position: static;
    border: none;
    .pc-variations-table{
      display: none;
    }
  }

  &__move-link{
    color: #000;
    font-size: 0.9rem;

    &:hover{
      color: var(--base-main-link-color);
    }
  }


  &__move-icon{
    display: inline-block;
    vertical-align: bottom;
    fill: var(--theme-secondary-color);
    color: var(--theme-secondary-color);
    width: 1.5em;
    height: 1em;
  }


  &__delete-icon{
    border: 1px solid var(--base-border-color);
    background-color: #efefef;
    width: 1.5em;
    height: 1.5em;
    color: #000;

    &>.svg-icon{
      width: 50%;
      height: 50%;
    }
    
    &:hover,
    &:active{
      background-color: #000;
      color: #fff;
    }
  }

}