.breadcrumbs {
  font-size: 1rem;

  @media(min-width: $screen-md-min) {
    font-size: 0.9rem;
  }

  // ***********************
  // woocommerce breadcrumbs
  // ***********************


  &--woocommerce &__item {

    /* styles for separator */
    &:not(:last-child):after {
      content: '>';
    }
  }

  &--woocommerce &__link {
    color: var(--main-nav-text-color);
    text-decoration: none;
  }

  // ***********************
  // yoast breadcrumbs
  // ***********************
  &--yoast {

    a {
      text-decoration: none;
      color: #000;

    }
    .breadcrumb_last {
      color: var(--base-font-color-secondary);
    }
    span{
      color: $accent;
      font-weight: 500;
    }
  }
}
