.site-slider{
  position: relative;
  padding: 50px 0;
  @media (min-width: $screen-md-min) {
    padding: 50px 200px 100px 50px;

  }

  &__item{
    // position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__title{
    position: absolute;
    top: 10%;
    right: 0;
    font-size: 150px;
    line-height: 1;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
    text-align: right;
    text-transform: uppercase;
    span{
      display: block;
      &:first-child{
        transform: translateX(-200px);
        @media (max-width: $screen-xs){
          transform: translateX(-100px);
        }
      }
    }
    @media (max-width: $screen-lg-max){
      font-size: 100px;
    }
    @media (max-width: $screen-sm-max){
      font-size: 75px;
      -webkit-text-fill-color: white;
      top: 5%;
    }
    @media (max-width: $screen-xs){
      font-size: 50px;
    }
  }

  .slick-list{
    padding:0;
    @media (min-width: $screen-md-min) {
      padding: 200px 0;
    }
  }

  .slick-slide{
    // width: 70%!important;
    position: relative;
    height: 400px;
    transition: all 0.5s ease;
    @media (min-width: $screen-md-min) {
      height: 300px;
    }
    @media (min-width: $screen-lg-min) {
      height: 400px;
    }

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.slick-active{
      transform: scale(1) translateY(0);
      @media (min-width: $screen-md-min) {
        transform: scale(1.5) translateY(50px);

      }
    }

    &.slick-current{
        transform: scaleY(1) translateY(0);
        position: relative;
        z-index: 2;
        overflow: hidden;
        @media (min-width: $screen-md-min) {
          transform: scaleY(0.5) translateY(-400px);
        }
        img{
          transform: scaleY(1);
          @media (min-width: $screen-md-min) {
            transform: scaleY(2);
          }
        }
    }
  }
}