.slider-secondary{
  position: relative;
  margin-bottom: 100px;

  .slick-slide{
    padding: 0 5px;
  }

  &__item{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 124%;
    overflow: hidden;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }

    &:hover{
      img{
        transform: scale(1.05);
      }
    }
  }

  &__item:hover &__title,
  &__item:hover &__text{
    color: $accent;
  }
  &__item:hover &__text:after{
    background-color: $accent;
  }

  &__title{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    transition: all 0.3s ease;
    
    @media (min-width: $screen-sm-min) {
      font-size: 24px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 30px;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 36px;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 42px;
    }

  }

  &__text{
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: all 0.3s ease;
    &:after{
      position: absolute;
      content: '';
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 1px;
      background-color: #fff;
      transition: all 0.3s ease;
    }

    @media (min-width: $screen-md-min) {
      font-size: 16px;
    }
  }
}