.slider-navigation{

  &__arrow{
    cursor: pointer;
    svg{
      width: 50px;
      height: 30px;
      stroke: #666;
      fill: #fff;
      transition: all 0.5s ease;
      @media (min-width: $screen-sm-min) {
        width: 70px;
        height: 50px;
      }
    }
    &:hover{
      svg{
        stroke: $accent;
      }
    }
  }

  &__counter{
    display: flex;
    align-items: flex-start;
    margin: 0 10px;
  }

  &__current{
    font-size: 30px;
    line-height: 1;
    color: $accent;
    font-weight: bold;
    @media (min-width: $screen-sm-min) {
      font-size: 50px;
    }
    
  }

  &__total{
    font-size: 16px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
    -webkit-text-fill-color: white;
  }

  &__divider{
    font-weight: bold;
    font-size: 16px;
    margin: 0 5px;
    color: #000;
  }

  &--main{
    position: absolute;
    left: 0;
    transform: translateY(0);
    width: 100%;
    bottom: 100%;
    display: none;

    @media (min-width: $screen-md-min) {
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
      display: block;
    }
  }

  &--main &__counter{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
  }

  &--main &__arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &--right{
      right: 50px;
    }
    &--left{
      left: 200px;
    }
  }

  &--secondary{
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    bottom: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    @media (min-width: $screen-sm-min) {
      width: 30%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      top: 0;
      left: 50px;
    }
    @media (min-width: $screen-md-min) {
      width: 24%;
    }
  }

  &--secondary &__elements-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    @media (min-width: $screen-sm-min) {
      border-top: 1px solid #c4c4c4;
      width: 100%;
    }

  }

  &--secondary &__name{
    padding: 10px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    color: $title-color;
    text-transform: uppercase;
    @media (min-width: $screen-sm-min) {
      font-size: 20px;
      margin-bottom: 20px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 24px;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 28px;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 32px;
    }
  }

  &--simple{
    left: 0;
  }

  &--simple &__name{
    color: $accent;
    span{
      color: $title-color;
    }
  }

  &--third{
    left: auto;
    right: 0;
    @media (min-width: $screen-md-min) {
      width: 30%;
      right: 50px;
    }
  }

  &--small{
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $screen-md-min) {
      top: 60%;
      left: 0;
      width: 330px;
    }
  }
}