.slider-third{
  position: relative;
  margin-bottom: 100px;

  .slick-slide{
    padding: 0 10px;
  }

  .slick-track {
    margin-left:0;
}

  &__item{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }

    &:hover{
      img{
        transform: scale(1.05);
      }
    }

    @media (min-width: $screen-md-min) {
      padding-bottom: 55%;
    }
  }

  &__item:hover &__title,
  &__item:hover &__text{
    color: $accent;
  }
  &__item:hover &__text:after{
    background-color: $accent;
  }

  &__item-container{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (min-width: $screen-lg-min) {
      right: 30px;
      bottom: 30px;
    }
    @media (min-width: $screen-xl-min) {
      right: 50px;
      bottom: 50px;
    }
  }

  &__title, &__text{
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    text-shadow: 0px 0px 250px rgba(0, 0, 0, 0.5);
    z-index: 2;
    font-weight: bold;
    @media (min-width: $screen-md-min) {
      font-size: 24px;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 28px;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 32px;
    }
  }

  &__text{
    font-size: 24px;
    @media (min-width: $screen-md-min) {
      font-size: 28px;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 32px;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 40px;
    }
  }
}