.slider-simple{
  position: relative;

  .slick-slide{
    padding: 0 5px;
  }

  &__item{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }

    &:hover{
      img{
        transform: scale(1.05);
      }
    }
  }

  &__item:hover &__title,
  &__item:hover &__text{
    color: $accent;
  }
  &__item:hover &__text:after{
    background-color: $accent;
  }
}