.cart-summary {

  @at-root .frame &:not(.cart-totals__item--final-price){
    margin-top: 0;
  }

  &__delete {
    .remove_from_cart_button {
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid var(--base-border-color);
      background-color: #fff;
      color: #000;

      &:hover{
        background-color: var(--theme-main-color);
        color: #fff;
      }

      .svg-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
      }
    }
  }

  &__subtotal{
    border: none;
    border-top: 0;
  }

  &__subtotal-item{
    padding-left: 1.5em;
    padding-right: 1.5em;

    &:first-child{
      border-top: 0;
    }
  }

  &__total-price--order &__total-label{
    font-size: 1.5em;
    margin-top: 0;
    font-weight: bold;
  }

  &__total-price{
    padding: 1.5em;
    border: 0;
    margin-top: 0;
    background-color: var(--panels-bg-color);
    color: var(--panels-heading-color);
    border-top: 2px solid $accent;
  }

  &__items{
    padding: 1.5em 1.5em;
    border: none;
    border-bottom: 1px solid #000;
  }

  &--in-modal &__items{
    border: 0;
    border-bottom: 1px solid var(--base-border-color);
    padding: 0;
  }

  &__cell{
    border-top: 1px dashed var(--base-border-color);
  }

  &--in-modal &__cell{
    border-top: 1px dashed var(--base-border-color);
  }

  &__quantity{
    width: auto;
  }

}
