.about-banner{
  display: flex;
  align-items: flex-end;
  position: relative;
  max-width: 1600px;
  margin: 50px auto;
  @media (max-width: $screen-xs){
    flex-direction: column;
    align-items: center;
  }

  &__item-img{
    // flex-shrink: 0;
    img{
      margin: 0;
    }
    &:nth-child(2){
      margin-left: -100px;
      @media (max-width: $screen-md-max){
        display: none;
      }
    }
    @media (max-width: $screen-xs){
      order: 2;
    }
  }

  &__item-decor{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 150px;
    line-height: 1;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    text-align: right;
    @media (max-width: $screen-lg-max){
      font-size: 100px;
    }
    @media (max-width: $screen-sm-max){
      font-size: 75px;
    }
    @media (max-width: $screen-xs){
      position: relative;
      order: 1;
      width: 100%;
      margin-bottom: 20px;
    }
    @media (max-width: 450px){
      font-size: 50px;
    }
    p{
      margin-bottom: 0;
      text-align: left;
      &:first-child{
        margin-left: -200px;
        @media (max-width: $screen-sm-max){
          margin-left: -100px;
        }
      }
      @media (max-width: $screen-xs){
        text-align: center;
      }
    }
  }

  &__item-text{
    // width: 25%;
    padding: 20px;
    font-size: 36px;
    line-height: 1.3;
    font-weight: bold;
    color: $title-color;
    @media (max-width: $screen-sm-max){
      font-size: 28px;
    }
    @media (max-width: $screen-xs-max){
      font-size: 20px;
    }
    @media (max-width: $screen-xs){
      order: 3;
      padding: 20px 0;
    }
  }
}

