.small-post {

  &__title{
    font-weight: 700;
    font-size: 1rem;
  }

  &__title-link{
    color: #000;
  }


  /* Place Home page bar START */
  @at-root .pc-section-secondary & &__list{

    &>*{
      padding-bottom: 40px;
    }
  }

  @at-root .pc-section-secondary & &__item{
    width: 100%;
  }

  @at-root .pc-section-secondary & &__date{
    font-size: 11px;
    text-transform: uppercase;
  }

  @at-root .pc-section-secondary & &__title{
    font-size: 1rem;
  }

  @at-root .pc-section-secondary & &__desc{
    font-weight: 400;
      font-size: 13px;
  }

  @at-root .pc-section-secondary & &__image{
    @media (min-width: $screen-sm-min) {
      width: 25%;
    }
  }

  /* Place Home page bar END */
}