.list-nav {

  &__item {
    position: relative;
    font-size: 13px;
  }

  &__arrow{
    fill: currentColor;
    color: inherit;
  }

  &__drop{
    padding-top: 10px;

    &::before{
      content: '';
      position: absolute;
      top: -7px;
      left: 15px;
      width: 0;
      height: 0;
      border: 9px solid transparent;
      border-bottom-color: #fff;
    }
  }
}