.modal{
  background-color: var(--panels-bg-color);
  $modal-size:                        460px;
  $modal-size-lg:                     800px;

  max-width: $modal-size;

  &--lg{
    max-width: $modal-size-lg;

    //specially for cart modal
    &[data-cart-modal-fragment]{
      max-width: 580px;
    }
  }

  &__header{
    border-bottom: 0;
  }

  &__header-title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__header-close{
    border: 0;

    &:active{
      box-shadow: none;
    }
  }

  &__header-close-ico{
    width: 25px;
    height: 25px;
    border: 1px solid var(--base-border-color);
    padding: 5px;
    color: #000;
    &:hover{
      background-color: var(--theme-main-color);
      color: #fff;
    }
  }

  &__content{
    padding: 15px 25px;

    .typo{
      text-align: center;
    }
  }

  &__row{

    &--flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__footer{
    border-top: 0;
    padding-top: 0;
  }

  &__footer-btn{
    margin-top: 15px;
  }

  &__footer{

    &--login{
      border-top: 0;
      padding: 15px 25px 30px;
    }
  }
  &__footer--login &__footer-row{
    display: flex;
  }

  &__footer--login &__footer-cell{
    &:first-child{
      @media(min-width: $screen-sm-min){
        width: 105px;
        margin-right: 5px;
        padding-right: 5px;
      }
    }

    &:last-child{
      flex-grow: 1;
    }
  }

  &__btn{
    margin-top: 1rem;

    &--empty{
      padding: 6px 25px;
      border: 2px solid var(--base-border-color);
      background-color: var(--panels-bg-color);
      color: #000;
      font-weight: 700;

      &:hover{
        background-color: var(--base-border-color);
        color: #000;
      }

      &:active{
        box-shadow: 1px 1px var(--form-conrols-box-shadow), 0 0 8px var(--form-conrols-box-shadow);
      }
    }
  }
}
