.product-kit {

  &__products{
    margin-left: -25px;
  }

  &__product{
    padding-left: 25px;
    padding-right: 0;
  }

  &__product:not(:first-child) {
    &:before {
      width: 26px;
      margin: 0;
      color: #e0e0e0;
      font-size: 40px;
    }
  }

  &__item{
    //justify-content: space-between;
  }

  &__purchase {

    &:before {
      width: 26px;
      color: #e0e0e0;
      font-size: 40px;
    }

  }

  &__price {
    padding-bottom: 7px;
  }

  &__discount {
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 1rem;
    color: #d52b1e;
  }

  &__discount-label {
    background-color: rgba(0, 0, 0, 0.5);
    width: 4.3em;
    height: 2.2em;
    top: 4px;
    left: 5px;
  }
}