.filter{
  font-size: 1rem;
  margin-top: 0;
  @media(min-width: 768px){
    margin-top: -65px;
  }

  &__item{
    padding: 10px;
    background: transparent;
  }

  &__title{
    position: relative;
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 7px;
    &:after{
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 40px;
      height: 0.5px;
      background: #000;
    }
  }

  &__inner{
    margin: 0.8em 0;
  }

  &__slider-control{
    border: 1px solid #D6D6D6;
    box-shadow: inset 0px 2px 2px rgba(85, 85, 85, 0.15);
    border-radius: 25px;
  }

  &__checkgroup-title{
    transition: all 0.3s ease;

    &:before{
      transition: all 0.3s ease;
    }

    &:hover{
      color: $accent;
    }

    &:hover::before{
      border-color: $accent;
    }
  }

  //Properties
  &__properties-item {
    &:not(:last-child){
      @media (min-width: $screen-sm-min){
        margin-bottom: 10px;
      }
    }
  }

  //Checkbox and radio decor
  &__checkgroup-control{
    display: none;
  }

  &__checkgroup-title {
    position: relative;
    padding-right: 5px;
  }

  &__label-button{
    font-size: 16px;
    padding: 7px 25px;
    border: 1px solid #DDDDDD;
    border-radius: 35px;
    text-transform: uppercase;
    color: #000;
    font-weight: normal;
    transition: all 0.3s ease;
  }

  &__color-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    transition: all 0.3s ease;
    box-shadow: none;
    outline: none;
  }
}

.filter__checkgroup-control[type=checkbox]:checked+.filter__checkgroup-check{
  background: #000;
  border: 1px solid #000;
}
.filter__checkgroup-control[type=checkbox]:checked ~ .filter__checkgroup-title{
  color: $accent;
}

.filter__checkgroup-control:checked+.filter__label-button{
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}
.filter__checkgroup-control:not([disabled]):not(:checked)+.filter__label-button:hover{
  background-color: #000;
  color: #fff;
}
.filter__checkgroup-control[disabled]  ~ .filter__label-button{
  color: #999;
  position: relative;
  overflow: hidden;
  &:after{
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #999;
    transform: rotate(-15deg);
  }
}

.filter__checkgroup-control:checked+.filter__color-button, .filter__checkgroup-control:not([disabled])+.filter__color-button:hover{
  border: 3px solid #212121;
  outline: none;
}