.post {
  display: block;

  &:hover{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  }
  &:hover &__link{
    color: $accent;
    padding-left: 55px;
  }
  &:hover &__link:before{
    width: 45px;
  }

  &__title{
    margin: 15px 0;
  } 

  &__title-link {
    text-transform: uppercase;
    color: $title-color;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    &:hover{
      color: $accent;
    }
  }

  &__desc{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
  }

  &__inner{
    padding: 30px 25px;
    flex-grow: 1;
    @media (max-width: $screen-xs-max){}
    padding: 15px 0;
  }

  &__image{
    position: relative;
    padding-bottom: 45%;
    width: 100%;
    @media(min-width: $screen-sm-min){
      padding-right: 30px;

    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__link{
    position: relative;
    padding-left: 0;
    font-weight: bold;
    color: $title-color;
    transition: all 0.3s ease;
    &:before{
      position: absolute;
      left: 0;
      top: 50%;
      display: block;
      content: '';
      width: 0;
      height: 1px;
      background: $accent;
      transition: all 0.3s ease ;
    }
  }
}