.post-tools {
  margin-left: 0;
  margin-top: -2px;
  display: flex;
  flex-wrap: wrap;

  &>*{
    margin-top: 2px;
  }

  &__item{
    padding: 8px 0;
    background-color: none;
    margin-left: 2px;
    justify-content: flex-start;
    color: #666;
    font-weight: bold;

    &:not(:last-child){
      margin-right: 0;
    }
  }

  &__ico {
    color: var(--theme-secondary-color);
  }
}