.post-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  @media (max-width: $screen-xs-max){
    margin: 0;
  }

  &__item{
    width: 50%;
    padding: 0 10px;
    margin-bottom: 30px;
    border: none;
    &:nth-child(2n+2){
      margin-top: -60px;
      @media (max-width: $screen-xs-max){
        margin-top: 0;
      }
    }
    &:not(:last-child){
      border: none;
    }
    @media (max-width: $screen-xs-max){
      width: 100%;
      padding: 0;
    }
  }

}