.single-post-images{
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 1300px;
  padding: 20px 0 0 0;
  margin: 0 auto 30px auto;
  @media (min-width: $screen-sm-min){
    padding: 70px 0 0 0;
  }

  &__decor-item{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    @media (min-width: $screen-sm-min){
      display: block;
    }
  }
}
.single-post-content{
  max-width: 900px;
  margin: 20px auto;
  color: #666;

  h2{
    font-size: 21px;
    color: $title-color;
    font-weight: bold;
    margin-bottom: 20px;
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      position: relative;
      padding-left: 20px;
      margin-bottom: 15px;
      &:before{
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        margin-top: -3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $accent;
      }
    }
  }
}