.wishlist {


  &__row {

  }

  &__column {
    width: 100%;

    @media (min-width: $screen-sm-min){
      width: 50.00%;
    }
    @media (min-width: $screen-md-min){
      width: 33.33%;
    }
    @media (min-width: $screen-lg-min){
      width: 25.00%;
    }
  }

}