.pc-header-layout-4 {

  &__headline{
    border-top: 0;
  }

  &__logo{
    padding: 0 10px;
  }

  &__main{
    position: relative;
    padding: 0;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    .page__container{
      max-width: 100%;
      padding: 0 0 0 50px;
      @media (max-width: $screen-md-max){
        padding: 0 0 0 25px;
      }
      @media (max-width: $screen-xs-max){
        padding: 0 0 0 15px;
      }
    }
  }

  &__main-body {
    @media (max-width: $screen-sm-max) {
      padding: 0;
      border-bottom: none;
    }

    @media(min-width: $screen-sm-min){
      padding: 0;
    }

  }

  &__headline-left{
    flex-shrink: 1;
  }

  &__headline-right{
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__navigation{
    position: static;
  }

  &__logo{
    @media (max-width: $screen-xs-max){
      width: 33.3333%;
    }
  }

  &__hamburger{
    width: auto;
  }

  &__icons-lg{
    width: auto;
    @media (max-width: $screen-xs-max){
      width: auto;
    }
  }
}