.pc-product-purchase {

  &__header{
    margin-top: 1.7em;
    padding-top: 8px;
    .product-price{
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }
  }


  &__variations {
    margin-top: 0;
    &>*{
      margin-top: 10px;
    }
  }

  &__variation-info{
    margin-top: 0;
    &>*{
      margin-top: 10px;
    }
  }

  &__body{

  }

  &__after-add-to-cart{
    display: none;
  }

  &__add-to-cart{
    flex-shrink: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;

    & > * {
      padding: 0;
      margin-left: 15px;
      margin-top: 10px;
    }
  }

  &__second_after-add-to-cart{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &>*{
      padding: 10px 1rem 10px 0;
      flex-shrink: 0;
    }
  }

  &__second_after-add-to-cart .countdown-product {
    padding: 10px 15px!important;
  }
}