.pc-range-slider {

  .ui-slider-handle{
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    top: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    &:after, &:before{
      position: absolute;
      content: '';
      top: 50%;
      height: 9px;
      width: 1px;
      background: #999;
      transform: translateY(-50%);
    }
    &:after{
      left: 8px;
    }
    &:before{
      right: 8px;
    }

    &:last-of-type{
      margin-left: -8px;
    }
  }

  .ui-slider-range{
    margin-top: -1.5px;
    height: 5px;
    background: $accent;
  }

  &__control {
    margin-top: 8px;
    height: 5px;
    background: #D0D4D8;
  }
}