.widget-sidebar{

  @media (min-width: $screen-sm-min){
    padding: 8px 16px;
    border: 1px solid var(--base-border-color);

    &__header{
      padding: 8px 16px;
      margin-top: -8px;
      margin-left: -16px;
      margin-right: -16px;
      font-size: 18px;
      background-color: var(--theme-main-bg-color);
      border-bottom: 1px solid var(--base-border-color);
    }
  }

  /* Filter sidebars START*/

  @at-root .pc-category-products-layout &{
    border: 0;
    padding: 0;
  }

  @at-root .pc-category-products-layout &__header{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border: 0;
    background-color: transparent;
  }

  /* Filter sidebars END*/
}

.widget-sidebar.widget_text{
  border: 0;
  padding: 0;
}