.cart-product {
  &__link{
    color: #000;
    font-size: 1rem;
  }

  &__info{
    padding-left: 80px;
  }

  &__option{
    display: none;

    &-key{
      color: #000;
      font-weight: 700;
    }

    &-value{
      color: var(--base-font-color);
    }
  }
}