.pc-section-primary {
  $arrow-height: 3rem;
  border: 0;

  &--accessories &__inner {
    padding-left: 0!important;
    padding-right: 0!important;
  }

  &__title{
    position: static;
    display: block;
    padding-bottom: 1rem;
    padding-left: 0;
    margin-left: 0;
    border-bottom: 1px solid var(--base-border-color);

    @media(max-width: $screen-xs-max){
      font-size: 16px;
    }
  }

  &__inner{
    padding: 0 25px;
  }

  &--kit &__inner {
    @media (min-width: $screen-sm-min){
      padding-left: 65px;
      padding-right: 65px;
    }
  }

  &--kit &__title {
    font-size: 1.75em;
    margin-bottom: 20px;
  }

  &__arrow {
    width: $arrow-height;
    height: $arrow-height;
    border: 1px solid var(--base-border-color);
    color: var(--base-font-color);
    top: calc(50% - #{$arrow-height/2});
    z-index: 1000;

    &:hover{
      background-color: var(--theme-main-color);
      color: #fff;
      border-color: var(--theme-main-color);
    }

    &>.svg-icon{
      position: absolute;
      height: 20px;
      width: 15px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  /* Start page section START*/

  @at-root .start-page-glook  &__title {
    position: static;
    width: 100%;
    padding: 0 0 25px;
    margin: 0;
    border: 0;
    text-transform: uppercase;
    text-align: center;

    &::after{
      content: '';
      display: block;
      width: 5em;
      height: 1px;
      margin: 15px auto 0;
      background-color: var(--theme-secondary-color);
    }
  }

  @at-root .start-page-glook &__inner{
    padding: 0;
  }
  /* Start page section END */

  //======================//
}