.catalog-toolbar {
  background: #fff;
  text-align: right;

  &__item {
    display: inline-block;
  }

  &__field{
    select.form-control{
      border: none;
      box-shadow: none;
    }
    .jq-selectbox__select{
      padding: 0 30px 0 10px;
    }
    .jq-selectbox__select, .jq-selectbox__trigger{
      border: none;
    }
    .jq-selectbox.focused .jq-selectbox__select{
      border: none;
    }
    .jq-selectbox__trigger-arrow{
      top: 10px;
      width: 8px;
      height: 8px;
      border: none;
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
      transform: rotate(-45deg);
    }
    .jq-selectbox__select-text{
      color: #000;
    }
  }

  @at-root .content__header--category &__item {
    padding: 0;
  }
  @at-root .content__header--category & {
    padding-left: 0;
    padding-right: 0;
  }
}