.frame {

  &--wishlist {

  }

  [data-slider="cross-sells"] &__header {
    padding-right: 82px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--wishlist &__header {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    @media (min-width: $screen-sm-min){
      padding: 1.5em;
    }
  }

  &--wishlist &__inner {
    border: 1px solid var(--base-border-color);
    padding: 1em;
  }

  &--wishlist &__title {
    margin-right: auto;
  }

  &--wishlist &__header-nav {
    margin-left: .5em;
    &:before {
      display: none;
    }
  }

  &--checkout-order &__header{
    background: transparent;
    border-bottom: 2px solid $title-color;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &--checkout-order &__title{
    text-transform: uppercase;
    color: #000;
    font-size: 21px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    h3{
      font-size: 21px;
      line-height: 1.2;
    }
    svg{
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }
  &--checkout-order .link--js{
    color: $title-color;
    font-size: 14px;
    border-bottom: 1px solid #000;
  }

  &--checkout-order{
    #payment{
      display: none;
    }
  }


  &__title{
    font-size: 1.5rem;
  }

  &__title-link{

    &:hover{
      color: var(--theme-secondary-color);
      text-decoration: none;
    }
  }

  &__header-link{
    font-size: 1rem;
    color: #000;
    border-bottom: 1px dashed;
  }
}