.soc-groups{
  justify-content: flex-end;
  @media (max-width: $screen-md-max){
    justify-content: center;
  }

  a{
    border: 1px solid #999;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &::before{
      font-size: 26px;
    }

    &:hover{
      color: #fff;
      background-color: var(--footer-social-links-color-hover);
    }
  }
}