.product-thumb {
  $product-thumb-photo-width: 80px;
  $product-thumb-photo-kit-width: 70px;

  color: #000;
  font-size: 13px;

  &__left {
    width: $product-thumb-photo-width;
  }

  &--kit &__left {
    width: $product-thumb-photo-kit-width;
  }

  &__right {
    @media (min-width: $screen-md-min) {
      width: calc(100% - #{$product-thumb-photo-width + 10px});
    }
  }

  &__title {
    color: #000;
    font-size: 13px;

    &:hover{
      color: var(--theme-secondary-color);
    }
  }
}