.pc-add-to-cart-loop{
  display: flex;
  justify-content: center;

  &__button{
    width: 100%;
    text-align: left;
  }

  .button{
    border-radius: 25px;
    font-size: 16px;
    padding: 10px 30px;
  }

  @at-root .product-kit & .button{
    padding-left: 25px;
    padding-right: 25px;
  }
}