// Base

//Color

$title-color: #212121;
$accent: #EF7F0D;

// Set site container max width
$site-max-width:                          1230px;


// SalesZone media queries breakpoints
$screen-xs:      576px;
$screen-sm-min:  768px;
$screen-md-min:  992px;
$screen-lg-min:  1200px;
$screen-xl-min:  1500px;

$screen-xs-max:  ($screen-sm-min - 1) !default;
$screen-sm-max:  ($screen-md-min - 1) !default;
$screen-md-max:  ($screen-lg-min - 1) !default;
$screen-lg-max:  ($screen-xl-min - 1) !default;

// ----- Page ----- //
$page-ovarlay-z-index:            9999;

$page-mobile-width:               250px;

$page-mobile-speed:				  0.3s;
$page-overlay-color:              rgba(139, 77, 77, 0.6);
$screen-lg:      ($screen-lg-min - 1) !default;




