.product-photo {
  $product-photo-fix-height-lg: 450px;
  $product-photo-fix-height-xs: 70px;
  $product-photo-zoom-width: 450px;
  $product-photo-zoom-height: 450px;
  $product-photo-thumbs-number: 4;

  $arrow-height: 3rem;
  $arrow-height-sm: 2.25rem;

  &__thumbs-slider{
    margin: 2em 0 0;
  }

  &__thumbs{
    margin: 0 2em;
    @media (min-width: $screen-sm-min){
      margin: 0 4em;
    }
  }

  &__thumbs-arrow{
    &>.svg-icon{
      position: absolute;
      height: 21px;
      width: 21px;
      top: 50%;
      transform: translateY(-50%);
    }

    &--prev{
      left: 0;
      &>.svg-icon{
        left: 0;
      }
    }


    &--next {
      right: 0;

      &>.svg-icon{
        right: 0;
      }
    }

    &.slick-disabled{
      opacity: 0;
      cursor: auto;
    }

    &:not(.slick-disabled):active {
      transform: scale(1.2);
    }
  }

  &__thumb-item{
    opacity: 1;
    background-color: #fff;
    border: 0;

    &[data-product-photo-thumb-active] {
      opacity: 0.5;
    }
  }

  &__thumb-img{
    max-height: 100%;
  }

  &__item{
    padding-bottom: 95%;
    background-color: #fff;

    &--xs{
      width: $product-photo-fix-height-xs;
      height: $product-photo-fix-height-xs;
      max-height: $product-photo-fix-height-xs;
    }

    &--lg {
      @media(min-width: $screen-md-min){
        height: $product-photo-fix-height-lg;
        max-height: $product-photo-fix-height-lg;
      }
    }
  }

  &__img{
    padding: 0;
  }

  @at-root .product-cut &__item::before{
    display: none;
    content: '';
    background-color: rgba(255, 255, 255, .4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  @at-root .product-cut.product-cut--no-overlay &__item::before{
    display: none!important;
  }

  .product-cut:hover &__item::before{
    display: block;
  }

  &__zoom{
    width: 550px;
    height: 520px;
    max-height:100%;
    border: 5px solid #C7C7C7;
    left: calc(100% + 1rem);
  }

  &__video-ico {
    position: absolute;
    right: 5px;
    bottom: 4px;
    color: #9aa1ab;
    background: #fff;
    border-radius: 7px;
  }
}