.star-rating {
  &__votes-link {
    border-bottom: 1px dashed var(--base-border-color);
  }

  &__star{
    fill: none;
    stroke: currentColor;
    stroke-width: 10%;

    &>.svg-icon{
      fill: none;
    }

    &--active>.svg-icon{
      fill: currentColor;
    }

  }



}