.pagination {
  display: flex;
  align-items: center;

  /* Items wrappers */
  &__item {
    width: auto;
    margin: 0 10px;

    /* All items */
    .page-numbers {
      position: static;

      border: 0;
      background: transparent;
      
    }
    a.page-numbers:hover{
      color: $accent;
    }
  }

  /* Active item */
  .page-numbers.current {
    position: relative;
    color: $accent;
    font-size: 50px;
    background-color: transparent;
    padding: 0 20px;
    &:after, &:before{
      position: absolute;
      content: '/';
      top: 50%;
      transform: translateY(-50%);
      color: #000;
      font-size: 14px;
      font-weight: normal;
    }
    &:after{
      left: 0;
    }
    &:before{
      right: 0;
    }

  }

}