.form {
//Checkout forms
  @at-root .checkout &--bg{
    background-color: transparent;
    padding: 0 0 40px;
    &:first-child{
      padding: 0;
    }
  }

  &--bg &__title{
    color: $title-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    svg{
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }

  &--bg &__form-field{
    margin-bottom: 1rem;
  }

  &--bg{
    &.woocommerce-billing-fields, &.woocommerce-shipping-fields{
      .form__field{
        &:not(:first-child){
          border-bottom: none;
        }
        .form__field{
          border-bottom: none;
        }
        &.woocommerce-billing-fields__field-wrapper{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .form-row{
            width: 48%;
          }
        }
      }
    }
  }
  &--shipping{
    .form__field{
      border-bottom: none;
      margin-bottom: 0;
      .form__field{
        padding: 0;
        margin-bottom: 20px;
      }
    }
    .form__title{
      font-size: 14px;
      line-height: 1.1;
      text-transform: none;
    }
    .woocommerce-shipping-fields__field-wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .form-row{
        width: 48%;
      }
    }
  }

  &__field{
    padding: 10px 0;
    border-bottom: 2px solid $title-color;
    &--flex{
      @media(min-width: $screen-sm-min){
        display: flex;
      }
    }
  }

  &__field--flex &__label{
    @media(min-width: $screen-sm-min){
      position: relative;
      width: 105px;
      margin-right: 5px;
      padding-right: 5px;
    }
  }

  &__field--flex &__inner{
    flex-grow: 1;
  }

  &__field--flex &__require-mark{
    @media(min-width: $screen-sm-min){
      position: absolute;
      right: 5px;
      top: 0;
    }
  }

  &__field--hor &__label{
    display: block;
  }
}

//Inputs decoration
input[type="checkbox"],
input[type="radio"]{
  //In order for browsers to use custom styles
  -webkit-appearance: none;
  -moz-appearance:none;
  position: relative;

  width: 14px;
  height: 14px;
  border: 1px solid var(--base-border-color);
  background-color: #fff;

  &:focus{
    outline: none;
  }

  &:checked{
    border-color: var(--theme-secondary-color);
  }

  &::after{
    position: absolute;
    display: none;
  }

  &:checked::after{
    display: block;
  }
}


input[type="checkbox"]{

  &::after{
    content: '✓';
    color: #000;
    top: 0;
    left: 1px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
  }

  &:checked{
    background-color: var(--theme-secondary-color);
  }

  &:checked::after{
    color: #fff;
  }
}

input[type="radio"]{
  border-radius: 50%;

  &::after{
    content: '';
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    background-color: var(--theme-secondary-color);
    border-radius: inherit;
  }
}
.form-control{
  border-radius: 0;
  box-shadow: none;
  height: 46px;
  &:focus{
    box-shadow: none;
    border: 1px solid $accent;
  }
}

.select2-container .select2-selection--single{
  height: 46px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  height: 46px;
  line-height: 46px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 46px;
}