.banners {
  $row-top-gutter: 10px;
  $item-bottom-gutter: 10px;
  $item-left-gutter: 10px;


  &__row {

    margin-bottom:      - $item-bottom-gutter;
    margin-left:     - $item-left-gutter;

    &:not(:last-child) {
      padding-bottom: $row-top-gutter;
    }
  }

  &__item {
    position:    relative;
    min-width:   0;
    min-height:  0;

    margin-bottom:  $item-bottom-gutter;
    margin-left: $item-left-gutter;
  }

  &__main {
    width: 100%;
  }
  &__small {
    width: 50%;
  }

  @media (min-width: $screen-sm-min) {
    &__row {
      display:         flex;
      justify-content: space-between;
      flex-wrap:       wrap;
    }
    &__item {
      width: calc(50% - #{$item-left-gutter});

      &--wide {
        width: 100%;
      }
    }
  }
}