.pc-active-filter--hor .pc-active-filter {

  &__item-link {
    background: #f6f6f6;
  }

  &__item-text-el{
    color: #212121;
    border: none;
  }

  &__item-delete{
    color: #212121;
    border: none;
  }
}