.order-details {
  padding: 0;
  background-color: transparent;

  &__group{
    border: 1px solid var(--base-border-color);
    padding: 1em;
    border-bottom: 0;

    &:first-child{
      padding-top: 1em;
    }

    &:last-child{
      border: 1px solid var(--base-border-color);
      padding: 1em;
    }
  }
}