.accordion-tabs {

  &__content{
    padding: 1rem;
    border: 1px solid var(--base-border-color);
  }

  &__link{
    padding: .75em 2.5em;
    background-color: var(--panels-bg-color);
    color: #000;
    font-size: 1rem;
    transition: initial;
    transition: color 0.3s, background 0.3s;

    &:hover {
      color: #000;
      background-color: var(--theme-main-bg-color);

    }
  }

  &__link.js-active {
    color: var(--theme-secondary-color);
  }

  &__link {
    &::before{
      content: none;
      //Just in case for safari
      display: none!important;
    }
  }
}