.pc-product-action {
  font-size: 1rem;

  @at-root .product-cut &--stock-html {
    flex-direction: column;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__ico{
    position: relative;
    top: 1px;

    &--wishlist{
      width: 1.5em;
      height: 1em;

    }

    &--compare{
      width: 1em;
      height: 1em;
      margin-right: 0.5em;
    }

    &--cart {
      top: 0;
    }
  }

  @at-root .pc-product-single &__link{
    font-size:  1rem;
  }

  &__link {
    color: #000;
    border: none;
    font-size: .9rem;

    &:hover{
      color: var(--base-main-link-color);
    }

    &--open{
      color: #000;
      border-bottom: 1px dashed;
    }
  }
}