.cart-button{
  background: #F5F5F5;

  &__btn{
    padding: 35px 45px;
    @media (max-width: $screen-xs-max){
      padding: 20px;
    }
  }

  &__btn-cell{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }

}