.quantity {
  border: 1px solid #D6D6D6;
  border-radius: 35px;

  &--single-product &__middle{
    margin: 0;
    border: none;
  }

  &__input{
    box-shadow: none;
    padding-left: 0.2em;
    padding-right: 0.2em;
    
    -moz-appearance: initial;
    -webkit-appearance: initial;

    &::-webkit-inner-spin-button {
      display: inline;
    }

    &:focus{
      box-shadow: 1px 1px var(--form-conrols-box-shadow), 0 0 8px var(--form-conrols-box-shadow);
    }
  }

  &--single-product &__input:focus{
    box-shadow: 1px 1px var(--form-conrols-box-shadow), 0 0 8px var(--form-conrols-box-shadow);
  }

  /* In cart */

  @at-root .cart-summary &__input{
    width: 50px;
  }


  &--single-product &__input{
    border: none;
    background: transparent;
    width: 100%;
  }
  &--single-product &__btn{
    flex-shrink: 0;
    width: 25%;
    min-width: auto;
    padding: 6px 5px;
    color: #000;
    font-size: 24px;
  }

  &__divider{
    color: #000;
    font-size: 18px;
    line-height: 46px;
    vertical-align: middle;
  }

  &__btn {
    padding: 10px 5px;
    border: none;
    color: #000;
    &:active{
      box-shadow: none;
    }
    // display: none;
  }

}