.pc-shortcode-tabs {


  &__header {
    justify-content: center;
  }

  &__header-item {

  }

  &__button {
    border-bottom: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 1.1rem;
    color: var(--theme-main-color);
    font-size: .9rem!important;
    line-height: 2.57rem;

    &:hover,
    &.is-active {
      background: var(--theme-main-color);
      color: #fff;
    }
  }

}