.comments-posts{
  &__avatar{
    display: none;
  }

  &__main{
    display: flex;
    align-items: flex-start;
  }

  &__header{
    width: 30%;
    padding-right: 15px;
    height: 100%;
    @media (min-width: $screen-sm-min){
      width: 20%;
    }
  }

  &__text{
    color: $title-color;
    width: 70%;
    padding: 10px;
    border-left: 1px solid #c4c4c4;
    @media (min-width: $screen-sm-min){
      width: 80%;
      padding: 10px 20px;
    }
  }

  &__date{
    display: block;
  }

  &__author{
    margin-bottom: 1px;
  }
}