.post-comments{

  .frame{
    &__header{
      background: transparent;
      padding: 10px 0;
    }
    &__title{
      text-transform: uppercase;
      color: $title-color;
      font-size: 21px;
      line-height: 1.2;
    }
  }
}

.comments{

  &__form-header{
    background: transparent;
    font-size: 21px;
    line-height: 1.2;
    font-weight: bold;
    color: $title-color;
    padding: 15px 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #c4c4c4;
  }

  &__form-body{
    background-color: transparent;
    padding: 15px 0;
  }

  &__form-header-ico{
    width: 25px;
    height: 30px;
    margin-right: 10px;
    svg{
      width: 25px;
      height: 30px;
    }
  }
}

.comment-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .form__field{
    &:nth-child(1){
      order: 3;
      width: 100%;
    }
    &:nth-child(2){
      order: 1;
      width: 100%;
      @media (min-width: $screen-sm-min){
        width: 48%;
      }
    }
    &:nth-child(3){
      order: 2;
      width: 100%;
      @media (min-width: $screen-sm-min){
        width: 48%;
      }
    }
    &:nth-child(4){
      order: 4;
      width: 100%;
    }
    &:nth-child(5){
      order: 6;
      width: 100%;
    }
    
  }
  .comment-form-cookies-consent{
    order: 5;
  }
  .btn-default{
    background: $accent;
    border-color: $accent;
    border-radius: 26px;
  }
}