.catalog-section {
  padding: 15px;

  &__caption{
    border: 0;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 1em;
    padding: 0;
  }

  &:hover {
    box-shadow: 0 5px 10px rgba(0,0, 0, .15);

    .catalog-section__caption {
      background: none;
    }
  }
}