.up-sells {

  &__row {

  }

  &__columns {

    width: 50.00%;

    @media (min-width: $screen-sm-min){
      width: 33.33%;
    }
    @media (min-width: $screen-md-min){
      width: 25.00%;
    }
    @media (min-width: $screen-lg-min){
      width: 16.66%;
    }
  }

}