.user-panel{
  text-align: right;
  display: flex;
  align-content: start;

  &__ico{
    color: var(--theme-secondary-color);
    fill: currentColor;

    &--profile{
      color: var(--headline-link-color);
    }
  }

  &__link:hover &__ico--profile{
    color: var(--headline-link-color);
  }

  &__item{
    margin-left: 2em;
    font-size: 13px;
    background: transparent;
    border: none;
    
    &:first-child{
      border: none;
      margin-left: 1em;
    }
    
    &:hover{
      background: transparent;
    }

    &--separated{
      padding-left: 1em;
      border-left: 1px solid var(--base-border-color);
    }

    &--flex{
      display: inline-flex;
    }
  }

  &__link{
    padding: 0;
    transition: all 0.3s;

    &--inline{
      display: inline-block;

      &+&::before{
        display: inline-block;
        padding-left: .2em;
        content: '/';
        color: var(--headline-link-color);
      }
    }
  }

  &__drop{
    padding-top: 10px;

    &::before{
      content: '';
      position: absolute;
      top: -7px;
      right: 15px;
      width: 0;
      height: 0;
      border: 9px solid transparent;
      border-bottom-color: #fff;
    }
  }
}