.shipping-methods {

  @at-root .cart-totals &{
    margin: -1rem;
  }

  &__item{

    &:not(:first-child){
      border: none;
      margin-top: 0;
    }

  }

  &__control{
    display: none;
  }

  &--checkout &__item{
    padding-left: 0;
  }

  &__title{
    position: relative;
    width: 100%;
    padding:.75em 1em .75em 2em;
    text-align: left;
    cursor: pointer;
    font-weight: 700;
    margin-left: 0;
    font-size: 14px;

    &::before,
    &::after{
      position: absolute;
      content: '';
      border-radius: 50%;
    }

    &::before{
      display: block;
      top: 1em;
      left: .5em;
      width: 14px;
      height: 14px;
      border: 1px solid var(--base-border-color);
      background-color: #fff;
    }

    &::after{
      display: none;
      top: calc(1em + 4px);
      left: calc(.5em + 4px);
      width: 6px;
      height: 6px;
      background-color: var(--theme-secondary-color);
    }

    &:hover &::before{
      border-color: var(--theme-secondary-color);
    }
  }

  &__control:checked+&__title{
    background-color: transparent;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
  }

  &__control:checked+&__title::before{
    border-color: var(--theme-secondary-color);
  }

  &__control:checked+&__title::after{
    display: block;
  }
}