.advantages{
  max-width: 1200px;
  margin: 0 auto;

  &__row{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px!important;
    @media (min-width: $screen-md-min) {
      margin: 0!important;
    }
  }
  
  &__item{
    list-style: none;
    width: 100%;
    margin-bottom: 50px;
    padding: 0 15px;
    @media (min-width: $screen-xs) {
      width: 50%;
    }
    @media (min-width: $screen-md-min) {
      padding: 0;
      width: 33.3333%;
      margin-bottom: 150px;
    }
    &:nth-child(3n+1){}
    &:nth-child(3n+2){
      transform: translateY(0);
      .advantage-item{
        margin: 0 auto;
      }
      @media (min-width: $screen-md-min) {
        transform: translateY(150px);
      }
    }
    &:nth-child(3n+3){
      .advantage-item{
        transform: translateY(0);
        margin-left: auto;
      }
      @media (min-width: $screen-md-min) {
        transform: translateY(300px);
      }
    }
  }
}

.advantage-item{
  width: 100%;
  @media (min-width: $screen-md-min) {
    width: 290px;
  }

  &__ico{
    padding: 45px 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
  }

  &__counter{
    display: flex;
    align-items: flex-start;
  }

  &__counter-number{
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
    color: $accent;
  }
  &__counter-divider{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin: 0 3px;
  }

  &__counter-total{
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
    -webkit-text-fill-color: white;
  }

  &__title{
    color: #000;
    font-size: 14px!important;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__descr{
    font-size: 14px;
    color: #999999;
  }
}