.tree-nav{
  // border: 1px solid var(--base-border-color);
  padding: 0;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);

  &__item{
    padding: 5px;
  }

  &__link{
    padding-right: 60px;
    color: var(--main-nav-text-color);
  }

  &__item:hover > &__link {
    color: var(--headline-link-color-hover);
  }

  &__arrow{
    color: var(--base-border-color);
    fill: var(--base-border-color);
  }

}